# Secrets & Env files
.env
.env.*
*.env
.secrets/
secrets/
credentials*
*.pem
*.key

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
venv/
.venv/
env/
.env/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
